SOAPNovcanikBanka/BankaService/spec/banka.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/banka/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="banka" targetNamespace="http://www.example.org/banka/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/banka/">
      <xsd:element name="stanje">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="stanjeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="skiniSaRacuna">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="skiniSaRacunaResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="dodajNaRacuna">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="dodajNaRacunaResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="izvestaj">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="izvestajResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="Transakcija" type="tns:TransakicijaPortType"></xsd:element>

      <xsd:complexType name="TransakicijaPortType">
      	<xsd:sequence>
      		<xsd:element name="trensakcije" type="tns:transakcija" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
        
      <xsd:complexType name="transakcija">
      	<xsd:sequence>
      		<xsd:element name="datuma" type="xsd:dateTime"></xsd:element>
      		<xsd:element name="iznos" type="xsd:double"></xsd:element>
      		<xsd:element name="ulaz" type="xsd:boolean"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="stanjeRequest">
  </wsdl:message>
  <wsdl:message name="stanjeResponse">
    <wsdl:part name="out" type="xsd:double"/>
  </wsdl:message>
  <wsdl:message name="skiniSaRacunaRequest">
  	<wsdl:part name="in" type="xsd:double"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="skiniSaRacunaResponse">
  	<wsdl:part name="out" type="xsd:boolean"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="dodajNaRacunaRequest">
  	<wsdl:part name="in" type="xsd:double"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="dodajNaRacunaResponse">
  	<wsdl:part name="out" type="xsd:boolean"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="izvestajRequest">
  </wsdl:message>
  <wsdl:message name="izvestajResponse">
  	<wsdl:part name="out" element="tns:Transakcija"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="banka">
    <wsdl:operation name="stanje">
      <wsdl:input message="tns:stanjeRequest"/>
      <wsdl:output message="tns:stanjeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="skiniSaRacuna">
    	<wsdl:input message="tns:skiniSaRacunaRequest"></wsdl:input>
    	<wsdl:output message="tns:skiniSaRacunaResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dodajNaRacuna">
    	<wsdl:input message="tns:dodajNaRacunaRequest"></wsdl:input>
    	<wsdl:output message="tns:dodajNaRacunaResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="izvestaj">
    	<wsdl:input message="tns:izvestajRequest"></wsdl:input>
    	<wsdl:output message="tns:izvestajResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bankaSOAP" type="tns:banka">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="stanje">
      <soap:operation soapAction="http://www.example.org/banka/stanje"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="banka">
    <wsdl:port binding="tns:bankaSOAP" name="bankaSOAP">
      <soap:address location="http://localhost:8080/bankaPortType"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
