SOAPNovcanikBanka/server/wildfly-10.1.0.Final/standalone/data/wsdl/BankaServiceEAR.ear/BankaService.war/banka.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/banka/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="banka" targetNamespace="http://www.example.org/banka/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/banka/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.example.org/banka/">
  <xs:element name="Transakcija" type="tns:TransakicijaPortType"/>
  <xs:element name="dodajNaRacuna">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="in" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dodajNaRacunaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="out" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="izvestaj">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="in" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="izvestajResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="out" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="skiniSaRacuna">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="in" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="skiniSaRacunaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="out" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stanje">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="in" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stanjeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="out" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TransakicijaPortType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="trensakcije" nillable="true" type="tns:transakcija"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transakcija">
    <xs:sequence>
      <xs:element name="datuma" type="xs:dateTime"/>
      <xs:element name="iznos" type="xs:double"/>
      <xs:element name="ulaz" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="in" nillable="true" type="xs:double"/>
  <xs:element name="out" nillable="true" type="xs:boolean"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="izvestaj">
  </wsdl:message>
  <wsdl:message name="dodajNaRacuna">
    <wsdl:part element="tns:in" name="in">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dodajNaRacunaResponse">
    <wsdl:part element="tns:out" name="out">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="stanjeResponse">
    <wsdl:part element="tns:out" name="out">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="skiniSaRacuna">
    <wsdl:part element="tns:in" name="in">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="stanje">
  </wsdl:message>
  <wsdl:message name="izvestajResponse">
    <wsdl:part element="tns:Transakcija" name="out">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="skiniSaRacunaResponse">
    <wsdl:part element="tns:out" name="out">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="banka">
    <wsdl:operation name="skiniSaRacuna">
      <wsdl:input message="tns:skiniSaRacuna" name="skiniSaRacuna">
    </wsdl:input>
      <wsdl:output message="tns:skiniSaRacunaResponse" name="skiniSaRacunaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stanje">
      <wsdl:input message="tns:stanje" name="stanje">
    </wsdl:input>
      <wsdl:output message="tns:stanjeResponse" name="stanjeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="izvestaj">
      <wsdl:input message="tns:izvestaj" name="izvestaj">
    </wsdl:input>
      <wsdl:output message="tns:izvestajResponse" name="izvestajResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dodajNaRacuna">
      <wsdl:input message="tns:dodajNaRacuna" name="dodajNaRacuna">
    </wsdl:input>
      <wsdl:output message="tns:dodajNaRacunaResponse" name="dodajNaRacunaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bankaSoapBinding" type="tns:banka">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="skiniSaRacuna">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="skiniSaRacuna">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="skiniSaRacunaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stanje">
      <soap:operation soapAction="http://www.example.org/banka/stanje" style="document"/>
      <wsdl:input name="stanje">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="stanjeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="izvestaj">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="izvestaj">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="izvestajResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dodajNaRacuna">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="dodajNaRacuna">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="dodajNaRacunaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="banka">
    <wsdl:port binding="tns:bankaSoapBinding" name="BankaImplPort">
      <soap:address location="http://localhost:8080/BankaService/Banka"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>